@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@100&display=swap');
.App {
  text-align: center;
}

.grocery-items-input {
  text-indent: 1rem;
}

.nav-bar {
  font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
}